/* screen.scss */
/* SCSS Variables */
@import url(960/960_16_col.css);
/* SASS mixins */
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #1f1f1f;
  font-family: "adobe-garamond-pro-1", "adobe-garamond-pro-2", serif;
  *font-size: small;
  text-align: center;
  color: silver; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #0080dd; }

a:hover {
  color: black; }

table {
  font-size: inherit;
  font: 100%; }

blockquote {
  margin-left: 2em;
  padding-left: 0.5em;
  border-left: 1px gray solid; }

.footnotes {
  font-size: 0.8em;
  margin-top: 4em; }
  .footnotes p {
    padding: 0;
    margin: 0;
    /* http://www.tizag.com/cssT/display.php */
    display: inline; }
  .footnotes a[rev="footnote"] {
    margin-left: 1em; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none; }

ul.posts li {
  line-height: 1.75em; }

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

a.more {
  color: #119bff; }

/*****************************************************************************/
/*
/*	Outer container
/*
/*****************************************************************************/
.outer {
  width: 60em;
  margin: 3em auto 2em auto; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
header {
  color: white;
  font-weight: bold;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 20px;
  margin-top: 10px;
  font: sans-serif;
  font-family: "raleway-1", "raleway-2", sans-serif; }
  header h1 {
    font-size: 180%;
    margin: 0;
    padding: 0; }
  header a {
    color: silver;
    text-decoration: none; }
    header a:hover {
      color: #0080dd; }
    header a .extra {
      text-decoration: none;
      margin-left: 2em; }
      header a .extra:hover {
        color: black; }

.main {
  background: white;
  text-align: justify;
  color: black;
  padding: 10%; }

.project {
  background: white;
  width: 214px;
  height: 216px;
  position: relative;
  display: inline;
  float: left;
  margin: 10px;
  padding: 2px;
  text-decoration: none;
  color: black; }
  .project h1 {
    font-family: "raleway-1", "raleway-2", sans-serif;
    font-size: 120%; }

#me {
  background-image: url("../portfolio/me.png");
  background-size: 200% 100%;
  background-position: 100% 0%;
  color: white; }
  #me:hover {
    color: #ff7d00;
    background-position: 0% 0%; }

#dbo {
  background-image: url("../portfolio/dbo.png");
  background-size: 200% 100%;
  background-position: 100% 0%;
  color: black; }
  #dbo:hover {
    color: #0080dd;
    background-position: 0% 0%; }

#c3 {
  background-image: url("../portfolio/27c3.png");
  background-size: 200% 100%;
  background-position: 100% 0%;
  color: black; }
  #c3:hover {
    color: #0080dd;
    background-position: 0% 0%; }

#books {
  background-image: url("../portfolio/books.png");
  background-size: 200% 100%;
  background-position: 100% 0%;
  color: white; }
  #books:hover {
    color: #ff7d00;
    background-position: 0% 0%; }

.about {
  font-family: "raleway-1", "raleway-2", sans-serif;
  font-size: 120%;
  float: left;
  margin: 10px;
  text-align: justify;
  background: white;
  width: 960px;
  padding: 10px;
  color: black; }

footer {
  font-family: "raleway-1", "raleway-2", sans-serif;
  padding: 10px;
  margin-top: 20px; }
  footer a {
    color: white;
    text-decoration: none; }

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  background: #292929;
  padding: 0 1em 1em 1em;
  color: #000020;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: -2px 2px 2px 0 #050505;
  -moz-box-shadow: -2px 2px 2px 0 #050505;
  -webkit-box-shadow: -2px 2px 2px 0 #050505; }
  .site .home {
    height: 40em;
    margin: 4em; }
  .site .meta {
    color: #aaa; }
  .site footer {
    font-size: 80%;
    color: #664;
    border-top: 1px dashed black;
    margin-top: 27em;
    overflow: hidden; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
article {
  padding-top: 1em; }

article pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

article ul,
article ol {
  margin-left: 1.25em; }

article code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 95%;
  padding: 0 .2em; }

article pre code {
  border: none; }

/* terminal */
article pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white; }

article pre.terminal code {
  background-color: #333; }

article h1 {
  font-family: "raleway-1", "raleway-2", sans-serif;
  padding: 0 0 0em 0; }

article h2 {
  font-family: "raleway-1", "raleway-2", sans-serif;
  font-size: 0.95em;
  padding: 0.5em 0 0 0; }

article header {
  color: #0080dd;
  font-size: 95%;
  text-align: right;
  border-bottom: 1px dashed #050505;
  font-family: "Monaco", "Courier New", monospace;
  margin-bottom: 2em; }

article header h1 {
  padding: 0;
  margin: 0;
  text-align: left;
  color: black;
  font-size: 30px; }

#related {
  border-top: 1px dashed #050505;
  padding-top: 2em; }

#related h2 {
  margin-bottom: 1em; }

#disqus {
  border-top: 1px dashed #050505;
  background: #1f1f1f;
  margin-top: 2em;
  padding: 0.5em; }

/*****************************************************************************/
/*
/* CV
/*
/*****************************************************************************/
.cv {
  text-align: left;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  background: #fefefe;
  padding: 0 1em 1em 1em;
  width: 60em; }
  .cv .cvheader {
    font-size: 20px;
    color: black;
    font-variant: small-caps;
    padding-top: 2em; }
  .cv .cvsmall {
    font-size: 90%; }
  .cv ul {
    list-style-type: none; }
    .cv ul li {
      padding-left: 2em; }
      .cv ul li span {
        color: #aaa;
        font-family: Monaco, "Courier New", monospace;
        font-size: 80%;
        padding-right: 2em; }
  .cv h1 {
    font-size: 2em;
    margin-top: 1em;
    padding-top: 1em;
    font-family: "raleway-1", "raleway-2", sans-serif; }
  .cv h3 {
    display: inline; }
