/* screen.scss */
@import "reset.css";

/* SCSS Variables */
$accent-colour: #dd2323; // Tufte-style
//$accent-colour: #1b67e0; // Used for links
$text-colour: #303030;
$background: lighten(#ffe88a, 22%);// Tufte-style
//$background: #fdfdfd;
$link-visited: black; // Used for links
$link-hover: lighten($accent-colour, 80%);// Used for links
$highlight: #fffebb;


@mixin t-border {
	border: 1px red solid;
}

@mixin serif {
	font-family: "Palatino", serif;
}

@mixin sans {
	font-family: "Gill Sans", "Helvetica", sans-serif;
}

@mixin mono {
	font-family: "Bera Mono", monospace;
}

* {
	//@include t-border;
}

a{
	color: $accent-colour;
	:visited {color: $link-visited;}
	:hover {color: $link-hover;}
}

body {
	margin-left: 8em;
	margin-top: 6em;
	margin-bottom: 8em;
	width: 950px;
	background: $background;

}

.newthought {
	margin-top: 3em;
	font-variant: small-caps;
	font-size: 110%;

}
.sidenote{
	float:right;
}


header {
	h1 {
		font-size: 3em;
		a {
			font-variant: small-caps;
			text-decoration: none;
		}
	}
}

nav {

	font-size: 1.2em;
	line-height: 1.4em;
	width: 275px;
	float: right;
	margin-top: 1.8em;
	color: $text-colour;

	a {
		text-decoration: none;
	}

	li {
		list-style-type: none;
		font-variant: small-caps;

	}

	.contact, .copyright, .cc {
		margin-top: 1em;
		font-variant: small-caps;
	}

	#github{
		height: 0.9em;
		margin-left: 0.2em;
		vertical-align:middle;
	}

	#twitter{
		height: 1.3em;
		margin-left: -1px;
		vertical-align:middle;
	}

	.copyright {
		font-size: 80%;
	}

	.rss img {
		height: 0.7em;
		margin-left: 0.2em;
	}
}

.site {
	@include serif;
	line-height: 1.8em;
	width: 600px;
	float: left;
	margin-top: 2em;
	color: $text-colour;



	h1, h2, h3, h4, h5, h6 {
		font-style: italic;

		margin-top: 2em;
		margin-bottom: 0.6em;
	}

	h1 { font-size: 130%; }
	h2 { font-size: 120%; }
	h3 { font-size: 110%; }

	p,ul {
		margin-bottom: 1em;
	}


	blockquote {
		margin-left: 2em;
		padding-left: 0.8em;
		border-left: 1px solid #303030;
	}

	article > header {
		margin-bottom: 2em;
		h1 { 
			margin-top: 0;
			font-size: 150%; 
			font-variant: small-caps;
			font-style: normal;
		}

		time, .categories {
			color: #909090;
		}
	}

	article img {
		width: 540px;
		padding-left: 30px;
		padding-right: 30px;
	}

	article table {
		margin: 2em auto 2em auto;


		tr {
			border-bottom: 1px solid #303030;

			td {
				padding-left: 0.8em;
				padding-right: 0.8em;
			}

			td:first-child {
				font-variant: small-caps;
			}
		}

		tr:first-child {
			font-variant: small-caps;
		}

		tr:last-child {
			border-bottom: none;
		}
	}

	li {
		list-style-type: circle;
		margin-left: 2em;
	}

	em {
		font-style: italic;
	}

	.projects, .blog
	{
	}

	// http://www.adobe.com/cfusion/communityengine/index.cfm?event=showdetails&productId=1&postId=5341
	sup {
		font-size: 80%;
		position: relative;
		bottom: 1ex;
	}
	


}

.categories {
}

.footnotes { 
	border-top: 1px solid $text-colour;
	padding-top: 2em;
	padding-left: 2em;
	padding-bottom: 2em;

	ol,li {
		list-style-type: decimal;
		margin-left: 0;
	}
	hr {display: none;}
	p {display: inline;}

	li:target {background: $highlight;}

}

#profile {
	//border: 4px $text-colour solid;
	width: 300px;
	float: left;
	margin-right: 2em;
	margin-top: 0.5em;
}

.highlight {
	font-family: 'Consolas', monospace;
	font-size: 75%;
	margin-right: 2em;
	margin-bottom: 2em; 
}

.more {
	font-size: 110%;
}

