---
layout: default
title: Adam Obeng
---

	

<div id="home">

	<br />
	<br />

	<span class="newthought">This is the website</span> of Adam Obeng, currently of the <a href="http://sociology.columbia.edu/">Departement of Sociology</a> at Columbia University in the City of New York, sometime of <a href="http://www.st-annes.ox.ac.uk/">St. Anne's</a> and <a href="http://www.nuffield.ox.ac.uk/">Nuffield</a> Colleges in the University of Oxford. I'm a computational-, analytical-, many-adjectived sociologist, occasional philosopher, and full-time nerd. My side-projects tend merge in to my academic projects, which tend to merge into my real life, insofar as that exists.

	<br />
	<br />

	I've spoken a little bit about <a href="./talk-at-CCC/">political philosophy</a>, I've written a little bit <a href="./analytical-sociology-thesis/">about sociology</a>, and I hope to do more of both.

	<br />
	<br />

	My <a href="http://en.wikipedia.org/wiki/Six_Degrees_of_Kevin_Bacon">Bacon</a> <a href="http://oracleofbacon.org/">Number</a> is 3 and my <a href="http://en.wikipedia.org/wiki/Erd%C5%91s_number">Erdős number</a> is 5.
	
	<br />
	<br />


	<div class="projects">
		<h1>Projects</h1>
	      	<ul class="posts">
		    {% for post in site.categories.projects limit:3  %}
		      <li> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endfor %}
		</ul>
	</div>

	<div class="blog">
		<h1>Blog</h1>
		<ul class="posts">
		    {% for post in site.posts limit:3 %}
		      <li> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endfor %}
	    </ul>
	</div>

	<br />
	<br />
</div>
 
 
